extends layout 

block content-head 
    title About Us - News Aggregator
    
block content-body  
  
  section.about-us-section
    h2 About Us
    p 
        | Welcome to The Fury Of Global News! We are dedicated to provide the truth happenning in our global level. We Say Truth, We Show Truth, We Trust the Truth.
    p 
        | The Fury Of Global News is dedicated to providing you with a curated feed of the most important, relevant, and interesting news stories from around the globe. We believe that everyone deserves access to reliable, unbiased information that empowers them to make informed decisions.
    img.about-us-image(src="./assets/img/aboutus.jpg", alt="About Us Image")