extends layout 

block content-head 
    title Services - News Aggregator
    
block content-body 
    section.services-section
        h2 Our Services
        .services-container
            .service-item
                i.fas.fa-newspaper
                h3 Any type of news in one platform
                p You can read any type of news in our platform, the world news is on your device.
            .service-item
                i.fas.fa-bolt
                h3 Breaking News
                p We are always faster to update the news up to date and up to time.
            .service-item
                i.fas.fa-headset
                h3 24/7 Support
                p We provide 24/7 customer support to assist you with any questions or concerns.