.navbar
    .logo Global News
    button.toggle-btn &#9776;

.sidebar.deActive
    ul
        li
            a(href="/user/dashboard") Dashboard
        li
            a(href="/user/api") Global News
        li
            a(href="/user/support") Support
        li
            a(href="/user/profile") My Profile
        li
            a(href="/user/logout") Logout
